#root {
  font-family: "Plus Jakarta Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin-left: 10%;
  margin-right: 10%;
}

.contact-button {
  border-width: 0;
  background-color: #ffa8a8;
  border-radius: 100px;
  margin-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 16px;
}

.review-user {
  font-weight: bold;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.review-text {
  margin-top: 8px;
  margin-bottom: 4px;
}


.review-card {
  background-color: white;
  color: black;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1em;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 12px;
}

.stars {
  display: flex;
  flex-direction: row;
  align-items: center;
}


/* ExperienceItem */
.exp-container{
  height: 70px;
  width: 1200px;
  background-color: white;
  border-radius: 12px;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.exp-date{
  text-align: center;
  color: black;
  font-size: 25px;
  font-weight: bold;
  width: 200px;
  margin: 15px 0 15px 0;
}
.exp-content{
  color: black;
  font-size: 20px;
  margin: 20px 0 20px 0;
}

.middlesections {
  padding: 20px;
  width: auto;
  background: linear-gradient(120deg, rgba(171, 211, 218, 0.2) 0%, rgba(255, 212, 124, 0.2) 100%);
  mix-blend-mode: hard-light;
  border-radius: 20px;
}

.middlesections > div {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}

.middlesections > div > div {
  flex-grow: 2;
}


.middlesections > div > div:last-child {
  flex-grow: 1;
}

/* coursedetail */
.cinfo-container {
  height: auto;
  width: auto;
  background-color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
}
.coursedetail-container {
  height: auto;
  width: auto;
  padding: 1em;
}
.coursedetail-title {
  color: black;
  font-size: 20px;
  font-weight: bold;
}
.coursedetail-content {
  color: black;
  font-size: 15px;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.home-title {
  font-size: 64px;
  font-weight: 800;
  margin-bottom: 0;
}

.home-subtitle {
  font-size: 32px;
  font-weight: 400;
}

.searchbar-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.searchbar {
  display: flex;
  align-items: center;
  width: 100%;
  background: linear-gradient(100deg, #fcb79598 0%, #dec5e275 100%);
  border-radius: 50px;
  padding: 10px 20px;
}

.searchbar-input {
  border: none;
  outline: none;
  padding: 5px;
  font-size: 16px;
  flex-grow: 1;
  background: none;
}

.searchbar-button {
  background: none;
  border: none;
  padding: 10px;
}

.searchbar-icon {
  height: 20px;
  width: 20px;
  stroke: black;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button {
  padding: 10px 20px;
  margin: 0 10px;
  width: 300px;
  background-color: #ffeac0;
  outline: none;
  border: none;
  font-size: 24px;
  letter-spacing: 2px;
  border-radius:10px;
}

.quiz-container {
  width: 100%;
  margin-top: 48px;
  background: linear-gradient(120deg, rgba(171, 211, 218, 0.2) 0%, rgba(255, 212, 124, 0.2) 100%);
  mix-blend-mode: hard-light;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 200px;
}

.quiz-container > p {
  margin-top: 5px;
  margin-bottom: 0px;
}

.quiz-button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #ffffff;
  outline: none;
  border: none;
  font-size: 24px;
  border-radius: 100px;
  margin-bottom: 24px;
}

/* FindMentor */
.fmentor-container{
  height: auto;
  width: auto;
  background-color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.findmentor-container{
  height: auto;
  width: auto;
  padding: 1em;
  display: flex;

}
.findmentor-content{
  margin-left: 20px;
}
.findmentor-content-title{
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.findmentor-detail{
  margin-bottom: 10px;
}
.findmentor-profile{
  background-color: grey;
  height: 15px;
  width: 130px;
  padding: 8px;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
  color: white;


}